@charset "utf-8";
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,input{
	margin: 0;
	padding: 0;
}
ul,ol,li{
	list-style: none;
}
img{
	vertical-align: top;
	border: none;
}
body{
	font-size: 12px;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
a{
	text-decoration: none;
	color: #000;
}
.clr:after{
	content: " ";
	display: block;
	clear: both;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}
.clr{
	zoom: 1;
}
section,article,aside,header,footer,nav,figure,main,hgroup{
	display: block;
}
@mixin c {
  width: 1000px;
  margin: auto;
}
@mixin flex {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.header{
  width: 100%;
  height: 30px;
  line-height: 30px;
  background-color: #F5F5F5;
  .header-c{
    @include c ();
    height: 30px;
    .icon-city{
      display: inline-block;
      margin-left: 10px;
      color: gray;
		}
		.h-ul{
			height: 30px;
			li{
				border-left: 1px solid transparent;
				border-right: 1px solid transparent;
				padding: 0 15px;
				color: #666666;
				cursor: pointer;
				.iconfont{
					color: #999;
				}
				&:hover{
					color: #FA2A83;
					.iconfont{
						color: #999999;
					}
					.icon-shoucang1{
						color: #FA2A83;
					}
				}
				.icon-xiala{
					margin-left: 2px;
				}
				.icon-shoucang1{
					color: #FA2A83;
					margin-right: 2px;
				}
			}
		}
  }
}
.h-ul{
	.header-drop1{
		position: relative;
		.headerDrop1{
			width: 96px;
			border: 1px solid #CDCDCD;
			border-top: none;
			background: #fff;
			position: absolute;
			top: 30px;
			left: -1px;
			display: none;
			a{
				display: block;
				margin-left: 15px;
				&:hover{
					color: #FA2A83;
				}
			}
		}
		&:hover{
			background: #fff;
			border-left: 1px solid #CDCDCD !important;
			border-right: 1px solid #CDCDCD!important;
			.headerDrop1{
				display: block;
			}
		}
	}
	.header-drop2{
		@extend .header-drop1;
		.headerDrop2{
			@extend .headerDrop1;
			width: 108px;
		}
	}
	.header-drop3{
		@extend .header-drop1;
		.headerDrop3{
			@extend .headerDrop1;
			width: 96px;
			z-index: 3;
		}
	}
	.header-drop4{
		position: relative;
		.headerDrop4{
			border: 1px solid #CDCDCD;
			background: #fff;
			position: absolute;
			top: 30px;
			left: -128px;
			display: none;
			z-index: 3;
		}
		&:hover{
			.headerDrop4{
				display: block;
			}
		}
	}
} //drop
.header-b{
	@include c ();
	.img-logo{
		width: 160px;
	}
	.ensure{
		line-height: 100px;
		div{
			
			font-size: 14px;
			margin: 0 10px;
			.iconfont{
				display: inline-block;
				color: #FA2A83;
				font-size: 18px;
				margin: 2px;
			}
			a{
				color: #777;
			}
		}
		&>:nth-child(1){
			margin-left: 0;
		}
	}
	.search{
		margin: 32px 0 0 30px;
		width: 402px;
		input{
			padding-left: 12px;
			width: 334px;
			height: 34px;
			outline: 0;
			border: 2px solid #FA2A83;
		}
		button{
			width: 52px;
			height: 38px;
			background-color: #FA2A83;
			outline: 0;
			border: none;
			.icon-fangdajing{
				color: white;
				font-size: 20px;
			}
		}
		ul{
			margin-top: 6px;
			li{
				height: 12px;
				line-height: 12px;
				margin: 0 6px;
				color: #999;
				border-right: 1px solid #999;
				padding-right: 10px;
			}
			&>:nth-child(5){
				border: none;
			}
		}
	}
	.shoppingbag{
		width: 96px;
		height: 36px;
		background-color: #F6F7F9;
		border: 1px solid gray;
		margin: 32px 0 0 10px;
		cursor: pointer;
		@include flex();
		.icon-gouwudai{
			font-size: 20px;
			margin-left: 4px;
		}
		.shopping-num{
			display: inline-block;
			width: 22px;
			border-radius: 10px;
			text-align: center;
			color: white;
			background-color: #FA2A83;
		}
	}
}
aside{
	width: 36px;
	height: 100%;
	position: fixed;
	top: 0;
	right: 0;
	background-color: #262626;
	color: white;
	text-align: center;
	z-index: 2;
	&>:nth-child(1){
		margin-top: 80px;
		a{
			color: white;
		}
	}
	&>:nth-child(2){
		font-size: 14px;
		padding: 16px 0;
		background-color: #DF147F;
		margin-top: 1px;
		a{
			color: white;
		}
		p{
			width: 14px;
			line-height: 18px;
			font-size: 14px;
			margin: 6px auto;
		}
		.aside-shopbag-num{
			display: inline-block;
			width: 18px;
			height: 18px;
			border-radius: 50%;
			background-color: #F6F7F9;
			color: #FA2A83;
			font-size: 12px;
		}
	}
	&>:nth-child(3),&>:nth-child(4),&>:nth-child(5),&>:nth-child(6),&>:nth-child(7),&>:nth-child(8){
		margin-top: 3px;
		position: relative;
		&:hover .aside-intro{
			width: 100px;
			border: 1px solid #ddd;
		}
		a{
			color: white;
		}
	}
	&>:nth-child(7){
		margin-top: 120px;
	}
	.aside-intro{
		width: 0px;
		height: 33px;
		line-height: 33px;
		border: none;
		background-color: white;
		position: absolute;
		right: 36px;
		top: 0;
		color: black;
		overflow: hidden;
		transition: all 0.5s;
	}
	div{
		padding: 4px 0;
		&:hover{
			background-color: #DF147F;
		}
	}
	.icon-wodezuji{
		font-weight: bold;
	}
	.iconfont{
		font-size: 24px;
	}
}
.nav-f{
	width: 100%;
	position: relative;;
	top: 0px;
	left: 0;
	background-color: white;
	z-index: 1;
	.head-nav{
	@include c();
	font-size: 16px;
	text-align: center;
	line-height: 44px;
	color: #333;
	.classify{
		width: 156px;
		height: 44px;
		background-color: #FA2A83;
		cursor: pointer;
		color: white;
		margin-right: 10px;
		.icon-2{
			font-size: 16px;
			font-weight: bold;
			margin: 4px;
		}
	}
	&>:nth-child(3){
		font-weight: bold;
	}
	li{
		padding: 0 10px;
		cursor: pointer;
		&:hover{
			color: #DF147F;
		}
	}
}
}
.headNav-li1{
	color: #FA2A83;
}
.head-nav{
	.nav-more{
		width: 80px;
		padding: 0 !important;
		position: relative;
		&:hover{
			box-shadow: 0 2px 3px 0px rgba(0,0,0,.06);
			width: 80px;
			.more-drop{
				display: block;
			}
		}
		.more-drop{
			display: none;
			width: 80px;
			position: absolute;
			background: #fff;
			z-index: 3;
			a{
				display: block;
				&:hover{
					color: #FA2A83;
				}
			}
		}
	}
} //more
.classify{
	.drop{
		width: 156px;
		height: 0px;
		background-color: #FA2A83;
		transition: all 0.3s;
		overflow: hidden;
		p{
			font-size: 12px;
			width: 156px;
			height: 44px;
			line-height: 44px;
			color: #fff;
			&:hover{
				background: #fff;
				color: #FA2A83;
			}
		}
	}
	&:hover .drop{
		height: 484px;
	}
}
.banner{
	width: 100%;
	height: 442px;
	padding-top: 30px;
	position: relative;
	background: url(../img/bgimg.jpg) no-repeat center;
	.banner-c{
		@include c();
		width: 974px;
		height: 378px;
		padding: 12px;
		margin: 0 auto;
		position: relative;
		overflow: hidden;
		box-shadow: 0 1px 3px rgba(167,167,167,.4);
		background-color: rgba($color: #fff, $alpha: 0.8);
		.bannerimg{
			width: 500%;
			position: absolute;
			top: 12px;
			left: 0px;
		}
		a{
			margin: 0 12px;
		}
		img{
			width: 974px;
		}
	}
	#leftandright{
		width: 976px;
		height: 352px;
		position: absolute;
		top: 30px;
		left: 185px;
		display: none;
		div{
			width: 30px;
			height: 50px;
			line-height: 50px;
			background-color: rgba($color: #000, $alpha: 0.8);
			border-radius: 4px;
			color: white;
			opacity: 0.3;
			text-align: center;
		}
		#left{
			position: absolute;
			left: 2px;
			top:150px;
		}
		#right{
			position: absolute;
			right: 0;
			top:150px;
		}
	}
	.banner-index{
		width: 976px;
		position: absolute;
		top: 384px;
		left: 185px;
		div{
			margin: 0 6px;
			padding: 16px 60px;
		}
		.active{
			border-bottom: 2px solid #DF147F;
		}
	}
}
.adv-news{
	width: 140px;
	height: 170px;
	background: white;
	position: fixed;
	right: 36px;
	top: 290px;
	text-align: center;
	z-index: 2;
	.grab{
		margin-top: 14px;
	}
	.off{
		position: absolute;
		right: 4px;
		top: 4px;
		cursor: pointer;
	}
	&>:nth-child(3){
		color: #FA2A83;
	}
	&>:nth-child(5){
		width: 100px;
		height: 28px;
		text-align: center;
		line-height: 28px;
		font-size: 14px;
		border-radius: 4px;
		background: #FA2A83;
		color: white;
		margin: 16px auto 0;
		cursor: pointer;
	}
	p{
		line-height: 18px;
	}
}
.rob{
	@include c();
	text-align: center;
	.rob-img{
		img{
			width: 496px;
		}
	}
	&>:nth-child(3){
		display: block;
		margin-top: 30px;
	}
	.rob-off{
		.rob-off1,.rob-off2{
			width: 450px;
			height: 250px;
			border: 1px solid #EBEBEB;
			padding: 20px;
		}
		.rob-title{
			&>:nth-child(2){
				margin-top: 6px;
				font-size: 16px;
				cursor: pointer;
			}
		}
		.rob-trades{
			@include flex();
			img{
				margin: 6px 0;
				cursor: pointer;
			}
			.te{
				display: inline-block;
				background-color: #DF147F;
				color: #F5F5F5;
				border-radius: 9px;
				width: 44px;
				height: 18px;
			}
			.bang{
				background-color: #DF147F;
				width: 16px;
				height: 16px;
				font-size: 14px;
				line-height: 16px;
				color: #F5F5F5;
				margin-right: 10px;
			}
		}
	}
	.rob-off3{
		margin-top: 20px;
		border: 1px solid #EBEBEB;
		padding: 20px;
		.robtitle{
			margin-bottom: 10px;
		}
		.rob-title{
			&>:nth-child(2){
				margin-top: 6px;
				font-size: 16px;
				cursor: pointer;
			}
		}
		.rob-trade{
			@include flex();
			.te{
				display: inline-block;
				background-color: #DF147F;
				color: #F5F5F5;
				border-radius: 9px;
				width: 44px;
				height: 18px;
			}
			img{
				cursor: pointer;
			}
		}
	}
}
.footer{
	border-top: 1px solid #ECECEC;
	width: 100%;
	background-color: #FCFCFC;
	margin-top: 50px;
	.footer-c{
		@include c();
		.footer-img{
			img{
				margin: 20px;
			}
		}
		.footer-list{
			.footerlist-dl{
				width: 150px;
				height: 146px;
				border-right: 1px solid #E9E9E9;
				padding-left: 20px;
				dt{
					color: #4E5752;
				}
				dd{
					line-height: 20px;
					color: #858F88;
					padding-left: 8px;
					background: url(../img/footer-hash.png) no-repeat -6px -496px;
					&:hover{
						color: #FA2A83;
						transform: translateX(2px);
						background: url(../img/footer-hash.png) no-repeat -6px -515px;
					}
				}
			}
			.QRcode{
				text-align: center;
				margin-right: 20px;
				color: #5E6253;
				img{
					margin: 6px 0;
				}
			}
		}
		.aboutus{
			width: 100%;
			height: 30px;
			background-color: #DF147F;
			margin: 20px 0;
			ul{
				width: 660px;
				margin: auto;
				li{
					height: 14px;
					line-height: 14px;
					color: white;
					padding: 0 6px;
					margin-top: 8px;
					border-right: 1px solid #F7E9D3;
					&:hover{
						color: #D0BABA;
					}
				}
				.bdnone{
					border:none;
				}
			}
		}
		.footer-infor{
			color: #918F89;
			text-align: center;
			margin-bottom: 14px;
			a{
				color: #918F89;
				&:hover{
					color: #DF147F;
				}
			}
		}
		.footerInfor-img{
			text-align: center;
			margin-bottom: 10px;
		}
	}
}
.homeTrade{
	position: relative;
	.homeTrade-c{
		@include c();
	}
	
	.homeTrade-title{
		border-bottom: 1px solid #000;
		margin: 20px 0;
		min-height: 43px;
		.homeTrade-all{
			margin-top: 20px;
			font-size: 14px;
			cursor: pointer;
			.icon-you1{
				margin-left: 4px;
			}
			&:hover{
				color: #F10180;
			}
		}
	}
	.homeTrades{
		margin: 10px 5px;
		position: relative;
		img{
			width: 490px;
			&:hover{
				animation: mark 1.5s;
			}
		}
		&:hover{
			.homeTrade-collect{
				opacity: 1;
			}
		}
	}
	.homeTrades-infor{
		padding: 20px 0 10px 10px;
		font-size: 18px;
		font-weight: bold;
	}
	.homeTrades-off{
		padding: 0 10px;
		font-size: 16px;
		color: #4D4D4D;
		.salebg2{
			color: #F10582;
			font-weight: bold;
			font-size: 18px;
		}
	}
	.homeTrade-collect{
		position: absolute;
		right: 10px;
		top: 208px;
		background: #fff;
		padding: 0 6px;
		border-radius: 18px;
		opacity: 0;
		.icon-shoucang1{
			color: #F10180;
		}
		&:hover{
			color: #F10180;
		}
	}
	&>:nth-child(2){
		margin-top: 30px;
	}
	&>:nth-child(3){
		margin-top: 30px;
	}
}
.hometrade-tab{
	width: 70px;
	height: 370px;
	padding: 4px;
	border: 1px solid #D6D6D6;
	position: absolute;
	top: 44px;
	left: 60px;
	.hometrade-tabs{
		display: block;
		padding: 8px 5px;
		height: 20px;
		border-bottom: 1px solid #eaeaea;
		border-radius: 6px;
		color: #666;
		text-align: center;
		&:hover{
			color: #F10180;
		}
	}
	.active{
		background: #F10180;
		color: white;
		&:hover{
			color: #fff;
		}
	}
	&>:nth-last-child(1){
		border: none;
	}
	.icon-yingtao,.icon-yanshuang,.icon-biao,.icon-yundong{
		font-size: 20px;
	}
}
@keyframes mark{
	0% {
    opacity: 1;
    filter: alpha(opacity=100);
	}
	50% {
		opacity: .6;
		filter: alpha(opacity=60);
	}
	100% {
		opacity: 1;
		filter: alpha(opacity=100);
	}
}